<!DOCTYPE html>
<html>
<head>
<style>
p{
	color: red;
}
p.akapit{
	color: green;
}
p#akapit1{
	color: blue;
	font-size: 25px;
}

</style>
  <title>LilaiMaria</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
